.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
node_modules/
public/lib
test/coverage/
.lock-wscript
npm-debug.log
.localpw
*.env
temp
public/css/app.css
deis
public/vendor/*
public/js/irs-app-js.js
public/js/irs-app-js.js.map
public/bundle.js
public/css/vendors.css
.tmp/
processes.json
dump
.migrate