<template>
  <require from='../../autocomplete'></require>
  <form class='form-horizontal container'>
    <fieldset>
      <legend>Create a New Team</legend>
      <div class="form-group row">
        <div class="form-group col-sm-6" validation-errors.bind="nameErrors" class.bind="nameErrors.length ? 'has-error' : ''">
          <label class="col-sm-2 control-label" for="name">Name:</label>
          <div class="col-sm-10">
            <input type="text" class='form-control' name='name' value.bind='team.name & validate' placeholder="e.g. The MITRE Maniacs">
          </div>
        </div>
      </div>
      <h5 class="form-group row">Team Members</h5>
      <div class="row">
        <span if.bind='!team.members.length'>No members yet!</span>
        <ul class="list-unstyled" if.bind='team.members.length'>
          <li repeat.for="member of team.members">${member.Title}</li>
        </ul>
        <div class="form-group row">
          <autocomplete class='col-sm-4' suggestion-template='./components/teams/user-suggest.html' 
          suggestions.bind='suggestedMembers' value-key='Title' placeholder='Add Member'
          change.delegate='getUsers($event)' view-model.ref='autocompleteComponent'></autocomplete>
          <button class="btn btn-primary glyphicon glyphicon-plus" click.delegate='addMember()' title='Add Member'></button>
          <button class="btn glyphicon glyphicon-ban-circle" click.delegate='clearNewMember()' title='Clear'></button>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <button click.delegate='submit()' disabled.bind='saving' class="btn btn-primary">${saving ? 'Saving ' : 'Save'}<i if.bind='saving' class="fa fa-spinner fa-spin"></i></button>
        <button class="btn" click.delegate="clear()">Cancel</button>
      </div>
    </fieldset>
  </form>
</template>