<template>
  <require from='../bots/bot-form'></require>
  <div class="container container-fluid">
      <h3 class='row'>${team.name}</h3>
      <dl class="row" if.bind='team.bots.length'>
        <template repeat.for='bot of team.bots'>
          <dt>${bot.name}</dt>
          <dd>${bot.url}</dd>
        </template>
      </dl>
      <div class="row" if.bind="!team.bots.length">
        No bots registered yet!
      </div>
      <a if.bind='!createBot' click.delegate='createBot=true' class="btn btn-primary row">Add a Bot</a>
      <bot-form show-form.bind='createBot' bot.two-way='newBot' team-id.bind='teamId'></bot-form>
  </div>
</template>